<% content_for("header") do %>
<meta property="og:title" content="Adopt a Star, Support Science" />
<meta property="og:image" content="http://whitedwarf.org/images/heart.jpg" />
<meta property="og:description" content="view your star in Google Sky and download your certificate in minutes" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<% end %>

<div id="colOne">
<%= form_for @search, as: :search, url: { action: "index" }, method: :get do |f| -%>

        <table>

        <tr><td>Adopted for</td>
        <td><%= f.text_field :name, :size => 12 %></td></tr>

        <tr><td>Star #</td>
        <td><%= f.text_field :number, :size => 12 %></td></tr>

        <tr><td>Type</td>
	<td><%= f.select :flag_type, options_for_select([['all', 0], ['target $10', 1], ['double $15', 2], ['suspect $25', 3], ['planet $50', 4], ['bright $100', 5]], :selected => f.object.flag_type) %></td></tr>

        <tr><td>Constellation</td>
	<td><%= f.select :const_type, options_for_select([['all','ALL'], ['Aquarius','Aqr'], ['Aries','Ari'], ['Auriga','Aur'], ['Capricorn','Cap'], ['Cetus','Cet'], ['Cancer','Cnc'], ['Cygnus','Cyg'], ['Draco','Dra'], ['Gemini','Gem'], ['Leo','Leo'], ['Libra','Lib'], ['Lyra','Lyr'], ['Ophiuchus','Oph'], ['Orion','Ori'], ['Pisces','Psc'], ['Scorpius','Sco'], ['Serpens','Ser'], ['Sextans','Sex'], ['Sagittarius','Sgr'], ['Taurus','Tau'], ['Virgo','Vir']], :selected => f.object.const_type) %></td></tr>

        <tr><td>Sort</td>
	<td><%= f.select :brightness_order, options_for_select([['number', 'num'], ['brightest', 'asc'], ['faintest', 'desc']], :selected => f.object.brightness_order) %></td></tr>

        <tr><td>Available</td>
        <td><%= f.select :only_available, options_for_select([['yes', true], ['all', false]], :selected => f.object.only_available) %></td></tr>

        <tr><td colspan="2"><%= f.submit "Search", id: "search_submit" %></td></tr>

        </table>

<% end %>
</div>

<div id="colTwo">
  <h2>Adopt a Star</h2>

  <table>
    <tr>
      <th>Number</th>
      <th>Adopted for</th>
      <th>Link</th>
    </tr>

  <% for star in @stars %>
    <tr>
      <td><%=h star.number %></td>
      <td><%=h star.adopted_by %></td>
      <td><%= link_to 'View Star', star %></td>
    </tr>
  <% end %>
  </table>

  <br><%= will_paginate @stars, :inner_window => 1, :outer_window => 0 %>

  <br><b>Click any "View Star" link to begin</b>

</div>
