<div id="colTwo">
  <h2>Stars Nearby</h2>

  <table>
    <tr>
      <th>Number</th>
      <th>Mag.</th>
      <th>Teff</th>
      <th>log g</th>
      <th>[M/H]</th>
      <th>Adopted by</th>
    </tr>

  <% for star in @nearby_stars %>
    <tr>
      <td><%=h star.number %></td>
      <td><%=h star.mag %></td>
      <td><%=h star.teff %></td>
      <td><%=h star.logg %></td>
      <td><%=h star.mh %></td>
      <td><%=h star.adopted_by %></td>
      <td><%= link_to 'Sky Map', star %></td>
    </tr>
  <% end %>
  </table>

</div>
