<p>
  <b>Number:</b>
  <%=h @star.number %>
</p>

<p>
  <b>Coordinate:</b>
  <%=h @star.coordinate %>
</p>

<p>
  <b>Mag:</b>
  <%=h @star.mag %>
</p>

<p>
  <b>Teff:</b>
  <%=h @star.teff %>
</p>

<p>
  <b>Logg:</b>
  <%=h @star.logg %>
</p>

<p>
  <b>Mh:</b>
  <%=h @star.mh %>
</p>

<p>
  <% if @star.adopted_by.empty? %>
  This star is still avaible*. Click <%= link_to "here", "http://whitedwarf.org/palebluedot/index.html#Adopt" %> to adopt it. Use star # <%= @star.number %></p>
<p>* = This database is updated every 24 hours. Check <%= link_to "here", "http://whitedwarf.org/palebluedot/text.html" %> for the most recent status. Use the search function in your browser to look for "<%= @star.number %>"</p>
  <% else %>
    <b>Adopted by:</b>
    <%=h @star.adopted_by %>
  <% end %>
</p>


