<% content_for :header do %>
  <meta property="og:title" content="Nonprofit Adopt a Star - View in Google Sky" />
  <meta property="og:image" content="https://adoptastar.org/wp-content/uploads/2018/05/dedication.jpg" />
  <meta property="og:description" content="the unique gift that supports astronomy research" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script src="https://maps.google.com/maps/api/js?key=<%= @maps_api_key %>" type="text/javascript"></script>

  <script type="text/javascript"> 
    var mapTypes = {};
    mapTypes['sky'] = {
      getTileUrl: function(coord, zoom) {
        return getHorizontallyRepeatingTileUrl(coord, zoom, function(coord, zoom) {
          return "https://mw1.google.com/mw-planetary/sky/skytiles_v1/" +
                 coord.x + "_" + coord.y + '_' + zoom + '.jpg';
 
        });
      },
      tileSize: new google.maps.Size(256, 256),
      isPng: false,
      maxZoom: 13,
      radius: 57.2957763671875,
      name: 'Sky',
      credit: 'Image Credit: SDSS, DSS Consortium, NASA/ESA/STScI'
    };

    function getHorizontallyRepeatingTileUrl(coord, zoom, urlfunc) {
      var y = coord.y;
      var x = coord.x;
 
      var tileRange = 1 << zoom;
 
      if (y < 0 || y >= tileRange) {
        return null;
      }
 
      if (x < 0 || x >= tileRange) {
        x = (x % tileRange + tileRange) % tileRange;
      }
 
      return urlfunc({x:x,y:y}, zoom)
    }
 
    var map;
    var markers = [];
    var mapTypeIds = [];
    var infowindow = new google.maps.InfoWindow();
 
    var creditNode = document.createElement('div');
    creditNode.id = 'credit-control';
    creditNode.style.fontSize = '11px';
    creditNode.style.fontFamily = 'Arial, sans-serif';
    creditNode.style.margin = '0 2px 2px 0';
    creditNode.style.whitespace = 'nowrap';
    creditNode.index = 0;
 
    function setCredit(credit) {
      creditNode.innerHTML = credit + ' -';
    }

    function initialize() {
 
      // push all mapType keys in to a mapTypeId array to set in the mapTypeControlOptions
      for (var key in mapTypes) {
        mapTypeIds.push(key);
      }

      var starLatLng = {lat: <%= @star.latitude %>, lng: <%= @star.longitude %>}; 

      var mapOptions = {
        zoom: 11,
        center: starLatLng,
	disableDefaultUI: true,
        zoomControl: true
      };
      map = new google.maps.Map(document.getElementById("map2"), mapOptions);

      // start with the sky map type
      map.setMapTypeId('sky');

      var fovLayer = new google.maps.KmlLayer({
	url: 'http://whitedwarf.org/palebluedot/kfov.kml',
        map: map,
	preserveViewport: true
      });

      map.controls[google.maps.ControlPosition.BOTTOM_RIGHT].push(creditNode);
      for (key in mapTypes) {
        map.mapTypes.set(key, new google.maps.ImageMapType(mapTypes[key]));
      }
      google.maps.event.addListener(map, 'maptypeid_changed', function() {
        setCredit(mapTypes[map.getMapTypeId()].credit);
      });

      <% for star in @nearby_stars %>

      <% if star.adopted_by.match(/\'/).present? %>
      adoptedby = "<%= star.adopted_by %>";
      <% end %>
      <% if star.adopted_by.match(/\"/).present? %>
      adoptedby = '<%= star.adopted_by %>';
      <% else %>
      adoptedby = "<%= star.adopted_by %>";
      <% end %>
      adoptedby.sub('"', '\\\\"');
      adoptedby.sub("'", "\\\\'");

      <% if star.flag == 1 %>
      var contentString = '<table><tr><td><b>Target star:</b> <a href="https://nonprofit.adoptastar.org/stars/<%= star.id %>" style="color:blue"><%= star.number %></a></td></tr></table>'+
      <% if star.adopted_by.blank? %>
      '<table><tr><td><form onsubmit="if(this.querySelector(&#39;input[type=text]&#39;).value==&#39;Name for Certificate&#39;){alert(&#39;Please enter a name for the star certificate&#39;);event.preventDefault();}else{this.querySelector(&#39;input[type=text]&#39;).value=this.querySelector(&#39;input[type=text]&#39;).value.trim();this.querySelector(&#39;button[type=submit]&#39;).style.pointerEvents=&#39;none&#39;;}" action="https://adoptastar.org/cart/" method="post" target="cart"><input type="hidden" name="addon-2740-0" value="<%=h star.id %>"><input type="text" name="addon-2740-1" value="Name for Certificate" onblur="if(!this.value)this.value=&#39;Name for Certificate&#39;;" onfocus="if(this.value==&#39;Name for Certificate&#39;)this.value=&#39;&#39;;" oninput="if(/[<>\/\*]/.test(this.value)){alert(&#39;The following characters cannot be used: < > / *&#39;);this.value=this.value.replace(/[<>\/\*]+/g,&#39;&#39;);}" style="color:#333" size="20" maxlength="30">&nbsp;<button type="submit" name="add-to-cart" value="2740" style="cursor:pointer">Add to Cart</button></form></td></tr></table>';
      <% else %>
      '<table><tr><td><b>Adopted&nbsp;for: </b> '+ adoptedby +'</td></tr></table>';
      <% end %>
      var iconString = 'https://maps.google.com/mapfiles/ms/icons/yellow.png';
      <% if star.number == @star.number %>
      var iconString = 'https://maps.google.com/mapfiles/kml/paddle/ylw-stars_maps.png';
      <% end %>

      <% elsif star.flag == 2 %>
      var contentString = '<table><tr><td><b>Double star:</b> <a href="https://nonprofit.adoptastar.org/stars/<%= star.id %>" style="color:blue"><%= star.number %></a></td></tr></table>'+
      <% if star.adopted_by.blank? %>
      '<table><tr><td><form onsubmit="if(this.querySelector(&#39;input[type=text]&#39;).value==&#39;Name for Certificate&#39;){alert(&#39;Please enter a name for the star certificate&#39;);event.preventDefault();}else{this.querySelector(&#39;input[type=text]&#39;).value=this.querySelector(&#39;input[type=text]&#39;).value.trim();this.querySelector(&#39;button[type=submit]&#39;).style.pointerEvents=&#39;none&#39;;}" action="https://adoptastar.org/cart/" method="post" target="cart"><input type="hidden" name="addon-2781-0" value="<%=h star.id %>"><input type="text" name="addon-2781-1" value="Name for Certificate" onblur="if(!this.value)this.value=&#39;Name for Certificate&#39;;" onfocus="if(this.value==&#39;Name for Certificate&#39;)this.value=&#39;&#39;;" oninput="if(/[<>\/\*]/.test(this.value)){alert(&#39;The following characters cannot be used: < > / *&#39;);this.value=this.value.replace(/[<>\/\*]+/g,&#39;&#39;);}" style="color:#333" size="20" maxlength="30">&nbsp;<button type="submit" name="add-to-cart" value="2781" style="cursor:pointer">Add to Cart</button></form></td></tr></table>';
      <% else %>
      '<table><tr><td><b>Adopted&nbsp;for: </b> '+ adoptedby +'</td></tr></table>';
      <% end %>
      var iconString = 'https://maps.google.com/mapfiles/ms/icons/red.png';
      <% if star.number == @star.number %>
      var iconString = 'https://maps.google.com/mapfiles/kml/paddle/red-stars_maps.png';
      <% end %>

      <% elsif star.flag == 3 %>
      var contentString = '<table><tr><td><b>Suspected planet-host:</b> <a href="https://nonprofit.adoptastar.org/stars/<%= star.id %>" style="color:blue"><%= star.number %></a></td></tr></table>'+
      <% if star.adopted_by.blank? %>
      '<table><tr><td><form onsubmit="if(this.querySelector(&#39;input[type=text]&#39;).value==&#39;Name for Certificate&#39;){alert(&#39;Please enter a name for the star certificate&#39;);event.preventDefault();}else{this.querySelector(&#39;input[type=text]&#39;).value=this.querySelector(&#39;input[type=text]&#39;).value.trim();this.querySelector(&#39;button[type=submit]&#39;).style.pointerEvents=&#39;none&#39;;}" action="https://adoptastar.org/cart/" method="post" target="cart"><input type="hidden" name="addon-2748-0" value="<%=h star.id %>"><input type="text" name="addon-2748-1" value="Name for Certificate" onblur="if(!this.value)this.value=&#39;Name for Certificate&#39;;" onfocus="if(this.value==&#39;Name for Certificate&#39;)this.value=&#39;&#39;;" oninput="if(/[<>\/\*]/.test(this.value)){alert(&#39;The following characters cannot be used: < > / *&#39;);this.value=this.value.replace(/[<>\/\*]+/g,&#39;&#39;);}" style="color:#333" size="20" maxlength="30">&nbsp;<button type="submit" name="add-to-cart" value="2748" style="cursor:pointer">Add to Cart</button><input type="hidden" name="product_id" value="2748"><input type="hidden" name="variation_id" value="2749"></form></td></tr></table>';
      <% else %>
      '<table><tr><td><b>Adopted&nbsp;for: </b> '+ adoptedby +'</td></tr></table>';
      <% end %>
      var iconString = 'https://maps.google.com/mapfiles/ms/icons/green.png';
      <% if star.number == @star.number %>
      var iconString = 'https://maps.google.com/mapfiles/kml/paddle/grn-stars_maps.png';
      <% end %>

      <% elsif star.flag == 4 %>
      var contentString = '<table><tr><td><b>Planetary system:</b> <a href="https://nonprofit.adoptastar.org/stars/<%= star.id %>" style="color:blue"><%= star.number %></a></td></tr></table>'+
      <% if star.adopted_by.include?('AVAILABLE') %>
      '<table><tr><td><form onsubmit="if(this.querySelector(&#39;input[type=text]&#39;).value==&#39;Name for Certificate&#39;){alert(&#39;Please enter a name for the star certificate&#39;);event.preventDefault();}else{this.querySelector(&#39;input[type=text]&#39;).value=this.querySelector(&#39;input[type=text]&#39;).value.trim();this.querySelector(&#39;button[type=submit]&#39;).style.pointerEvents=&#39;none&#39;;}" action="https://adoptastar.org/cart/" method="post" target="cart"><input type="hidden" name="addon-2748-0" value="<%=h star.id %>"><input type="text" name="addon-2748-1" value="Name for Certificate" onblur="if(!this.value)this.value=&#39;Name for Certificate&#39;;" onfocus="if(this.value==&#39;Name for Certificate&#39;)this.value=&#39;&#39;;" oninput="if(/[<>\/\*]/.test(this.value)){alert(&#39;The following characters cannot be used: < > / *&#39;);this.value=this.value.replace(/[<>\/\*]+/g,&#39;&#39;);}" style="color:#333" size="20" maxlength="30">&nbsp;<button type="submit" name="add-to-cart" value="2748" style="cursor:pointer">Add to Cart</button><input type="hidden" name="product_id" value="2748"><input type="hidden" name="variation_id" value="2750"></form></td></tr></table>';
      <% else %>
      '<table><tr><td><b>Adopted&nbsp;for: </b> '+ adoptedby +'</td></tr></table>';
      <% end %>
      var iconString = 'https://maps.google.com/mapfiles/ms/icons/blue.png';
      <% if star.number == @star.number %>
      var iconString = 'https://maps.google.com/mapfiles/kml/paddle/blu-stars_maps.png';
      <% end %>

      <% elsif star.flag == 5 %>
      var contentString = '<table><tr><td><b>Bright star:</b> <a href="https://nonprofit.adoptastar.org/stars/<%= star.id %>" style="color:blue"><%= star.number %></a></td></tr></table>'+
      <% if star.adopted_by.blank? %>
      '<table><tr><td><form onsubmit="if(this.querySelector(&#39;input[type=text]&#39;).value==&#39;Name for Certificate&#39;){alert(&#39;Please enter a name for the star certificate&#39;);event.preventDefault();}else{this.querySelector(&#39;input[type=text]&#39;).value=this.querySelector(&#39;input[type=text]&#39;).value.trim();this.querySelector(&#39;button[type=submit]&#39;).style.pointerEvents=&#39;none&#39;;}" action="https://adoptastar.org/cart/" method="post" target="cart"><input type="hidden" name="addon-2783-0" value="<%=h star.id %>"><input type="text" name="addon-2783-1" value="Name for Certificate" onblur="if(!this.value)this.value=&#39;Name for Certificate&#39;;" onfocus="if(this.value==&#39;Name for Certificate&#39;)this.value=&#39;&#39;;" oninput="if(/[<>\/\*]/.test(this.value)){alert(&#39;The following characters cannot be used: < > / *&#39;);this.value=this.value.replace(/[<>\/\*]+/g,&#39;&#39;);}" style="color:#333" size="20" maxlength="30">&nbsp;<button type="submit" name="add-to-cart" value="2783" style="cursor:pointer">Add to Cart</button></form></td></tr></table>';
      <% else %>
      '<table><tr><td><b>Adopted&nbsp;for: </b> '+ adoptedby +'</td></tr></table>';
      <% end %>
      var iconString = 'https://maps.google.com/mapfiles/ms/icons/purple.png';
      <% if star.number == @star.number %>
      var iconString = 'https://maps.google.com/mapfiles/kml/paddle/purple-stars_maps.png';
      <% end %>

      <% end %>
      var starLatLng = {lat: <%=h star.latitude %>, lng: <%=h star.longitude %>};
      addMarker(starLatLng, iconString, contentString);
      <% end %>

    }

    function addMarker(location, iconString, contentString) {
      var marker = new google.maps.Marker({
        icon: iconString,
        position: location,
        map: map
      });
      markers.push(marker);

      marker.addListener('click', function() {
        infowindow.close();
        infowindow.setContent(contentString);
        infowindow.open(map, marker);
      });

    }

    function setMapOnAll(map) {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
      }
    }

    function showMarkers() {
      setMapOnAll(map);
    }

    function clearMarkers() {
      setMapOnAll(null);
    }

    </script>

<div id="content">

<div id="gsky">

  <% if @star.adopted_by.empty? %>
  <% elsif @star.adopted_by.include?('AVAILABLE') %>
  <% else %>
  <table><tr valign="top"><td><div class="fb-share-button" data-type="button_count"></div></td><td><a href="https://twitter.com/share" class="twitter-share-button" data-via="adoptastar">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td></tr></table><p>
  <% end %>
  <table><tr><td>
  <% if @star.flag == 1 %>
  <b>Target star:</b>
  <% elsif @star.flag == 2 %>
  <b>Double star:</b>
  <% elsif @star.flag == 3 %>
  <b>Suspected planet-host:</b>
  <% elsif @star.flag == 4 %>
  <b>Planetary system:</b>
  <% elsif @star.flag == 5 %>
  <b>Bright star:</b>
  <% end %>
  <%=h @star.number %>
  </td></tr></table>
  <% if @star.adopted_by.empty? %>
  <table><tr><td>
    <b>Adopted&nbsp;for: </b></td>
      <% if @star.flag == 1 %>
      <td><form class="adopt" action="https://adoptastar.org/cart/" method="post" target="cart"><input type="hidden" name="addon-2740-0" value="<%=h @star.id %>"><input type="text" name="addon-2740-1" value="Name for Certificate" class="adopted_name" size="20" maxlength="30">&nbsp;<button type="submit" name="add-to-cart" value="2740">Add to Cart</button></form></td>
      <% elsif @star.flag == 2 %>
      <td><form class="adopt" action="https://adoptastar.org/cart/" method="post" target="cart"><input type="hidden" name="addon-2781-0" value="<%=h @star.id %>"><input type="text" name="addon-2781-1" value="Name for Certificate" class="adopted_name" size="20" maxlength="30">&nbsp;<button type="submit" name="add-to-cart" value="2781">Add to Cart</button></form></td>
      <% elsif @star.flag == 3 %>
      <td><form class="adopt" action="https://adoptastar.org/cart/" method="post" target="cart"><input type="hidden" name="addon-2748-0" value="<%=h @star.id %>"><input type="text" name="addon-2748-1" value="Name for Certificate" class="adopted_name" size="20" maxlength="30">&nbsp;<button type="submit" name="add-to-cart" value="2748">Add to Cart</button><input type="hidden" name="product_id" value="2748"><input type="hidden" name="variation_id" value="2749"></form></td>
      <% elsif @star.flag == 5 %>
      <td><form class="adopt" action="https://adoptastar.org/cart/" method="post" target="cart"><input type="hidden" name="addon-2783-0" value="<%=h @star.id %>"><input type="text" name="addon-2783-1" value="Name for Certificate" class="adopted_name" size="20" maxlength="30">&nbsp;<button type="submit" name="add-to-cart" value="2783">Add to Cart</button></form></td>
      <% end %>
  </tr></table>
  <% elsif @star.adopted_by.include?('AVAILABLE') %>
  <% if @star.flag == 4 %>
  <table><tr><td>
    <b>Adopted&nbsp;for: </b></td>
      <td><form class="adopt" action="https://adoptastar.org/cart/" method="post" target="cart"><input type="hidden" name="addon-2748-0" value="<%=h @star.id %>"><input type="text" name="addon-2748-1" value="Name for Certificate" class="adopted_name" size="20" maxlength="30">&nbsp;<button type="submit" name="add-to-cart" value="2748">Add to Cart</button><input type="hidden" name="product_id" value="2748"><input type="hidden" name="variation_id" value="2750"></form></td>
  </tr></table>
  <% else %>
  <table><tr><td>
    <b>Adopted&nbsp;for: </b>
    <a href="https://cert.adoptastar.org/<%=h @star.id %>.pdf" target="_cert"><%=h @star.adopted_by %></a>
  </td></tr></table>
  <% end %>
  <% else %>
  <table><tr><td>
    <b>Adopted&nbsp;for: </b>
    <a href="https://cert.adoptastar.org/<%=h @star.id %>.pdf" target="_cert"><%=h @star.adopted_by %></a>
  </td></tr></table>
  <% end %>

</p>

<a name="map"></a>

<% if @star.lat_d >= 0 %>
<table width="100%"><tr><td><a href="javascript:initialize()">MAP</a> | <a href="https://aladin.cds.unistra.fr/AladinLite/?target=<%=h @star.lon_d %>%20<%=h @star.lon_m %>%20<%=h @star.lon_s %>%2B<%=h @star.lat_d %>%20<%=h @star.lat_m %>%20<%=h @star.lat_s %>&fov=0.75&survey=P%2FDSS2%2Fcolor" target="_sky">SKY</a></td><td align="right">icons: <a href="javascript:showMarkers();">show</a> | <a href="javascript:clearMarkers();">hide</a></td></tr></table>
<% elsif @star.lat_d < 0 %>
<table width="100%"><tr><td><a href="javascript:initialize()">MAP</a> | <a href="https://aladin.cds.unistra.fr/AladinLite/?target=<%=h @star.lon_d %>%20<%=h @star.lon_m %>%20<%=h @star.lon_s %><%=h @star.lat_d %>%20<%=h @star.lat_m %>%20<%=h @star.lat_s %>&fov=0.75&survey=P%2FDSS2%2Fcolor" target="_sky">SKY</a></td><td align="right">icons: <a href="javascript:showMarkers();">show</a> | <a href="javascript:clearMarkers();">hide</a></td></tr></table>
<% end %>

<div id='map_container' style='border: 1px solid silver; width: 100%;'>
  <div id="map2" style="display: block; height:100%; width:100%; color: #000000"></div>
</div>

<table width="100%"><tr>
<td><b>Constellation:</b>
<% if @star.const.include?('And') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/AND.gif" target="_map">Andromeda</a>
<% elsif @star.const.include?('Ant') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/ANT.gif" target="_map">Antlia</a>
<% elsif @star.const.include?('Aps') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/APS.gif" target="_map">Apus</a>
<% elsif @star.const.include?('Aql') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/AQL.gif" target="_map">Aquila</a>
<% elsif @star.const.include?('Aqr') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/AQR.gif" target="_map">Aquarius</a>
<% elsif @star.const.include?('Ara') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/ARA.gif" target="_map">Ara</a>
<% elsif @star.const.include?('Ari') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/ARI.gif" target="_map">Aries</a>
<% elsif @star.const.include?('Aur') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/AUR.gif" target="_map">Auriga</a>
<% elsif @star.const.include?('Boo') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/BOO.gif" target="_map">Bo&ouml;tes</a>
<% elsif @star.const.include?('CMa') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CMA.gif" target="_map">Canis Major</a>
<% elsif @star.const.include?('CMi') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CMI.gif" target="_map">Canis Minor</a>
<% elsif @star.const.include?('CVn') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CVN.gif" target="_map">Canes Venatici</a>
<% elsif @star.const.include?('Cae') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CAE.gif" target="_map">Caelum</a>
<% elsif @star.const.include?('Cam') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CAM.gif" target="_map">Camelopardalis</a>
<% elsif @star.const.include?('Cap') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CAP.gif" target="_map">Capricornus</a>
<% elsif @star.const.include?('Car') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CAR.gif" target="_map">Carina</a>
<% elsif @star.const.include?('Cas') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CAS.gif" target="_map">Cassiopeia</a>
<% elsif @star.const.include?('Cen') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CEN.gif" target="_map">Centaurus</a>
<% elsif @star.const.include?('Cep') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CEP.gif" target="_map">Cepheus</a>
<% elsif @star.const.include?('Cet') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CET.gif" target="_map">Cetus</a>
<% elsif @star.const.include?('Cha') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CHA.gif" target="_map">Chamaeleon</a>
<% elsif @star.const.include?('Cir') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CIR.gif" target="_map">Circinus</a>
<% elsif @star.const.include?('Cnc') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CNC.gif" target="_map">Cancer</a>
<% elsif @star.const.include?('Col') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/COL.gif" target="_map">Columba</a>
<% elsif @star.const.include?('Com') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/COM.gif" target="_map">Coma Berenices</a>
<% elsif @star.const.include?('CrA') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CRA.gif" target="_map">Corona Australis</a>
<% elsif @star.const.include?('CrB') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CRB.gif" target="_map">Corona Borealis</a>
<% elsif @star.const.include?('Crt') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CRT.gif" target="_map">Crater</a>
<% elsif @star.const.include?('Cru') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CRU.gif" target="_map">Crux</a>
<% elsif @star.const.include?('Crv') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CRV.gif" target="_map">Corvus</a>
<% elsif @star.const.include?('Cyg') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/CYG.gif" target="_map">Cygnus</a>
<% elsif @star.const.include?('Del') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/DEL.gif" target="_map">Delphinus</a>
<% elsif @star.const.include?('Dor') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/DOR.gif" target="_map">Dorado</a>
<% elsif @star.const.include?('Dra') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/DRA.gif" target="_map">Draco</a>
<% elsif @star.const.include?('Equ') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/EQU.gif" target="_map">Equuleus</a>
<% elsif @star.const.include?('Eri') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/ERI.gif" target="_map">Eridanus</a>
<% elsif @star.const.include?('For') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/FOR.gif" target="_map">Fornax</a>
<% elsif @star.const.include?('Gem') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/GEM.gif" target="_map">Gemini</a>
<% elsif @star.const.include?('Gru') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/GRU.gif" target="_map">Grus</a>
<% elsif @star.const.include?('Her') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/HER.gif" target="_map">Hercules</a>
<% elsif @star.const.include?('Hor') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/HOR.gif" target="_map">Horologium</a>
<% elsif @star.const.include?('Hya') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/HYA.gif" target="_map">Hydra</a>
<% elsif @star.const.include?('Hyi') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/HYI.gif" target="_map">Hydrus</a>
<% elsif @star.const.include?('Ind') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/IND.gif" target="_map">Indus</a>
<% elsif @star.const.include?('LMi') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/LMI.gif" target="_map">Leo Minor</a>
<% elsif @star.const.include?('Lac') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/LAC.gif" target="_map">Lacerta</a>
<% elsif @star.const.include?('Leo') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/LEO.gif" target="_map">Leo</a>
<% elsif @star.const.include?('Lep') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/LEP.gif" target="_map">Lepus</a>
<% elsif @star.const.include?('Lib') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/LIB.gif" target="_map">Libra</a>
<% elsif @star.const.include?('Lup') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/LUP.gif" target="_map">Lupus</a>
<% elsif @star.const.include?('Lyn') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/LYN.gif" target="_map">Lynx</a>
<% elsif @star.const.include?('Lyr') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/LYR.gif" target="_map">Lyra</a>
<% elsif @star.const.include?('Men') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/MEN.gif" target="_map">Mensa</a>
<% elsif @star.const.include?('Mic') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/MIC.gif" target="_map">Microscopium</a>
<% elsif @star.const.include?('Mon') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/MON.gif" target="_map">Monoceros</a>
<% elsif @star.const.include?('Mus') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/MUS.gif" target="_map">Musca</a>
<% elsif @star.const.include?('Nor') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/NOR.gif" target="_map">Norma</a>
<% elsif @star.const.include?('Oct') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/OCT.gif" target="_map">Octans</a>
<% elsif @star.const.include?('Oph') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/OPH.gif" target="_map">Ophiuchus</a>
<% elsif @star.const.include?('Ori') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/ORI.gif" target="_map">Orion</a>
<% elsif @star.const.include?('Pav') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/PAV.gif" target="_map">Pavo</a>
<% elsif @star.const.include?('Peg') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/PEG.gif" target="_map">Pegasus</a>
<% elsif @star.const.include?('Per') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/PER.gif" target="_map">Perseus</a>
<% elsif @star.const.include?('Phe') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/PHE.gif" target="_map">Phoenix</a>
<% elsif @star.const.include?('Pic') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/PIC.gif" target="_map">Pictor</a>
<% elsif @star.const.include?('PsA') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/PSA.gif" target="_map">Piscis Austrinus</a>
<% elsif @star.const.include?('Psc') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/PSC.gif" target="_map">Pisces</a>
<% elsif @star.const.include?('Pup') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/PUP.gif" target="_map">Puppis</a>
<% elsif @star.const.include?('Pyx') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/PYX.gif" target="_map">Pyxis</a>
<% elsif @star.const.include?('Ret') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/RET.gif" target="_map">Reticulum</a>
<% elsif @star.const.include?('Scl') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/SCL.gif" target="_map">Sculptor</a>
<% elsif @star.const.include?('Sco') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/SCO.gif" target="_map">Scorpius</a>
<% elsif @star.const.include?('Sct') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/SCT.gif" target="_map">Scutum</a>
<% elsif @star.const.include?('Ser') && @star.lon_d < 17 %>
<a href="https://iauarchive.eso.org/static/public/constellations/gif/SERCP.gif" target="_map">Serpens</a>
<% elsif @star.const.include?('Ser') && @star.lon_d >= 17 %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/SERCD.gif" target="_map">Serpens</a>
<% elsif @star.const.include?('Sex') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/SEX.gif" target="_map">Sextans</a>
<% elsif @star.const.include?('Sge') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/SGE.gif" target="_map">Sagitta</a>
<% elsif @star.const.include?('Sgr') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/SGR.gif" target="_map">Sagittarius</a>
<% elsif @star.const.include?('Tau') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/TAU.gif" target="_map">Taurus</a>
<% elsif @star.const.include?('Tel') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/TEL.gif" target="_map">Telescopium</a>
<% elsif @star.const.include?('TrA') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/TRA.gif" target="_map">Triangulum Australe</a>
<% elsif @star.const.include?('Tri') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/TRI.gif" target="_map">Triangulum</a>
<% elsif @star.const.include?('Tuc') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/TUC.gif" target="_map">Tucana</a>
<% elsif @star.const.include?('UMa') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/UMA.gif" target="_map">Ursa Major</a>
<% elsif @star.const.include?('UMi') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/UMI.gif" target="_map">Ursa Minor</a>
<% elsif @star.const.include?('Vel') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/VEL.gif" target="_map">Vela</a>
<% elsif @star.const.include?('Vir') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/VIR.gif" target="_map">Virgo</a>
<% elsif @star.const.include?('Vol') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/VOL.gif" target="_map">Volans</a>
<% elsif @star.const.include?('Vul') %> 
<a href="https://iauarchive.eso.org/static/public/constellations/gif/VUL.gif" target="_map">Vulpecula</a>
<% end %>

</td><td align="right">
<% if @star.lat_d >= 0 %>
  [<a href="https://simbad.u-strasbg.fr/simbad/sim-coo?Coord=<%=h @star.lon_d %>+<%=h @star.lon_m %>+<%=h @star.lon_s %>+<%=h @star.lat_d %>+<%=h @star.lat_m %>+<%=h @star.lat_s %>&CooFrame=FK5&CooEpoch=2000&CooEqui=2000&CooDefinedFrames=none&Radius=10&Radius.unit=arcsec&submit=submit+query" target="_simbad"><%=h @star.lon_d %>h<%=h @star.lon_m %>m<%=h @star.lon_s %>s, <%=h @star.lat_sign %><%=h @star.lat_d %>°<%=h @star.lat_m %>'<%=h @star.lat_s %>"</a>]
<% elsif @star.lat_d < 0 %>
  [<a href="https://simbad.u-strasbg.fr/simbad/sim-coo?Coord=<%=h @star.lon_d %>+<%=h @star.lon_m %>+<%=h @star.lon_s %>+<%=h @star.lat_d %>+<%=h @star.lat_m %>+<%=h @star.lat_s %>&CooFrame=FK5&CooEpoch=2000&CooEqui=2000&CooDefinedFrames=none&Radius=10&Radius.unit=arcsec&submit=submit+query" target="_simbad"><%=h @star.lon_d %>h<%=h @star.lon_m %>m<%=h @star.lon_s %>s, <%=h @star.lat_d %>°<%=h @star.lat_m %>'<%=h @star.lat_s %>"</a>]
<% end %>
</td></tr></table>

<br>
<table style="border-width: 0px"><tr><td style="border-width: 0px">

<% if @star.adopted_by.empty? %>
<input type=button onClick="parent.location=&#39;https://adoptastar.org/checkout/&#39;" value="Proceed to Checkout">
<% elsif @star.adopted_by.include?('AVAILABLE') %>
<% if @star.flag == 4 %>
<input type=button onClick="parent.location=&#39;https://adoptastar.org/checkout/&#39;" value="Proceed to Checkout">
<% else %>
<b><a href="https://adoptastar.org" target="_adopt">Adopt a star</a> and support science!</b>
<% end %>
<% else %>
<b><a href="https://adoptastar.org" target="_adopt">Adopt a star</a> and support science!</b>
<% end %>
</td></tr></table>

</div>

</div>

<script>

	function stripChars(event) {
		if ( /[<>\/\*]/.test( event.target.value ) ) {
			alert('The following characters cannot be used: < > / *');
			event.target.value = event.target.value.replace(/[<>\/\*]+/g, '');
		}
	}
	function monitorChars(elements) {
		elements.forEach( function(input) {
			input.onblur = function(event) {
				if ( ! event.target.value ) {
					event.target.value = 'Name for Certificate';
				}
			}
			input.onfocus = function(event) {
				if ( event.target.value == 'Name for Certificate' ) {
					event.target.value = '';
				}
			}
			input.addEventListener( 'input', stripChars );
			input.addEventListener( 'change', stripChars );
			input.addEventListener( 'paste', stripChars );
		});
	}
	function validateForms(forms) {
		forms.forEach( function(form) {
			form.addEventListener( 'submit', event => {
				var nameInput = form.querySelector('input.adopted_name');
				if ( nameInput.value == 'Name for Certificate' ) {
					alert("Please enter a name for the star certificate");
					event.preventDefault();
				} else {
					nameInput.value = nameInput.value.trim();
					form.querySelector('button[type="submit"]').style.pointerEvents = "none";
				}
			});
		});
	}

	var nameInputs = document.querySelectorAll('input.adopted_name');
	monitorChars(nameInputs);
	var adoptionForms = document.querySelectorAll('form.adopt');
	validateForms(adoptionForms);
	
	var myIframe = document.querySelector('#map_container iframe');
	myIframe.addEventListener('load', function() {
		
		var iframeNameInputs = this.contentWindow.document.querySelectorAll('input.adopted_name');
		monitorChars(iframeNameInputs);
		var iframeAdoptionForms = this.contentWindow.document.querySelectorAll('form.adopt');
		validateForms(iframeAdoptionForms);
		
	});

</script>
