<% content_for("header") do %>
<meta property="og:title" content="View my Star in Google Sky - Nonprofit Adopt a Star" />
<meta property="og:image" content="http://whitedwarf.org/images/dedication.jpg" />
<meta property="og:description" content="the non-profit alternative that supports astronomy research" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script src="https://maps.google.com/maps/api/js?key=AIzaSyDQjPoLstaadu7f7MxVfWrx85W3-w8rt2U" type="text/javascript"></script>

  <script type="text/javascript"> 
    var mapTypes = {};
    mapTypes['sky'] = {
      getTileUrl: function(coord, zoom) {
        return getHorizontallyRepeatingTileUrl(coord, zoom, function(coord, zoom) {
          return "https://mw1.google.com/mw-planetary/sky/skytiles_v1/" +
                 coord.x + "_" + coord.y + '_' + zoom + '.jpg';
 
        });
      },
      tileSize: new google.maps.Size(256, 256),
      isPng: false,
      maxZoom: 13,
      radius: 57.2957763671875,
      name: 'Sky',
      credit: 'Image Credit: SDSS, DSS Consortium, NASA/ESA/STScI'
    };

    function getHorizontallyRepeatingTileUrl(coord, zoom, urlfunc) {
      var y = coord.y;
      var x = coord.x;
 
      var tileRange = 1 << zoom;
 
      if (y < 0 || y >= tileRange) {
        return null;
      }
 
      if (x < 0 || x >= tileRange) {
        x = (x % tileRange + tileRange) % tileRange;
      }
 
      return urlfunc({x:x,y:y}, zoom)
    }
 
    var map;
    var markers = [];
    var mapTypeIds = [];
    var infowindow = new google.maps.InfoWindow();
 
    var creditNode = document.createElement('div');
    creditNode.id = 'credit-control';
    creditNode.style.fontSize = '11px';
    creditNode.style.fontFamily = 'Arial, sans-serif';
    creditNode.style.margin = '0 2px 2px 0';
    creditNode.style.whitespace = 'nowrap';
    creditNode.index = 0;
 
    function setCredit(credit) {
      creditNode.innerHTML = credit + ' -';
    }

    function initialize() {
 
      // push all mapType keys in to a mapTypeId array to set in the mapTypeControlOptions
      for (var key in mapTypes) {
        mapTypeIds.push(key);
      }

      var starLatLng = {lat: <%= @star.latitude %>, lng: <%= @star.longitude %>}; 

      var mapOptions = {
        zoom: 12,
        center: starLatLng,
	disableDefaultUI: true,
        zoomControl: true
      };
      map = new google.maps.Map(document.getElementById("map2"), mapOptions);

      // start with the sky map type
      map.setMapTypeId('sky');

      var fovLayer = new google.maps.KmlLayer({
	url: 'http://whitedwarf.org/palebluedot/kfov.kml',
        map: map,
	preserveViewport: true
      });

      map.controls[google.maps.ControlPosition.BOTTOM_RIGHT].push(creditNode);
      for (key in mapTypes) {
        map.mapTypes.set(key, new google.maps.ImageMapType(mapTypes[key]));
      }
      google.maps.event.addListener(map, 'maptypeid_changed', function() {
        setCredit(mapTypes[map.getMapTypeId()].credit);
      });

      <% for star in @nearby_stars %>

      <% if star.adopted_by.match(/\'/).present? %>
      adoptedby = "<%= star.adopted_by %>";
      <% end %>
      <% if star.adopted_by.match(/\"/).present? %>
      adoptedby = '<%= star.adopted_by %>';
      <% else %>
      adoptedby = "<%= star.adopted_by %>";
      <% end %>
      adoptedby.sub('"', '\\\\"');
      adoptedby.sub("'", "\\\\'");

      <% if star.flag == 1 %>
      var contentString = '<table><tr><td><b>Target star:</b> <a href="https://nonprofit.adoptastar.org/stars/<%= star.id %>" style="color:blue"><%= star.number %></a></td></tr></table>'+
      <% if star.adopted_by.blank? %>
      '<table><tr><td><form id="ppform" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="cmd" value="_cart"><input type="hidden" name="business" value="pbd@whitedwarf.org"><input type="hidden" name="lc" value="US"><input type="hidden" name="currency_code" value="USD"><input type="hidden" name="no_shipping" value="1"><input type="hidden" name="no_note" value="1"><input type="hidden" name="add" value="1"><input type="hidden" name="return" value="https://adoptastar.org/thanks-10/"><input type="hidden" name="cancel_return" value="https://adoptastar.org"><input type="hidden" name="button_subtype" value="products"><input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_SM.gif:NonHostedGuest"><input type="hidden" name="amount" value="10.00"><input type="hidden" name="item_number" value="<%=h star.id %>"><input id="adopted_name" size="15" type="text" name="item_name" style="color: #0000ff" value="Name for Certificate" onblur=putText(this); onfocus=clrText(this); maxlength="30"></td><td><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" id="ppbtn" name="submit" alt="Add to Cart"><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></form></td></tr></table>';
      <% else %>
      '<table><tr><td><b>Adopted&nbsp;for: </b> '+ adoptedby +'</td></tr></table>';
      <% end %>
      var iconString = 'https://maps.google.com/mapfiles/ms/icons/yellow.png';
      <% if star.number == @star.number %>
      var iconString = 'https://maps.google.com/mapfiles/kml/paddle/ylw-stars_maps.png';
      <% end %>

      <% elsif star.flag == 2 %>
      var contentString = '<table><tr><td><b>Double star:</b> <a href="https://nonprofit.adoptastar.org/stars/<%= star.id %>" style="color:blue"><%= star.number %></a></td></tr></table>'+
      <% if star.adopted_by.blank? %>
      '<table><tr><td><form id="ppform" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="cmd" value="_cart"><input type="hidden" name="business" value="pbd@whitedwarf.org"><input type="hidden" name="lc" value="US"><input type="hidden" name="currency_code" value="USD"><input type="hidden" name="no_shipping" value="1"><input type="hidden" name="no_note" value="1"><input type="hidden" name="add" value="1"><input type="hidden" name="return" value="https://adoptastar.org/thanks-15/"><input type="hidden" name="cancel_return" value="https://adoptastar.org"><input type="hidden" name="button_subtype" value="products"><input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_SM.gif:NonHostedGuest"><input type="hidden" name="amount" value="15.00"><input type="hidden" name="item_number" value="<%=h star.id %>"><input id="adopted_name" size="15" type="text" name="item_name" style="color: #0000ff" value="Name for Certificate" onblur=putText(this); onfocus=clrText(this); maxlength="30"></td><td><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" id="ppbtn" name="submit" alt="Add to Cart"><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></form></td></tr></table>';
      <% else %>
      '<table><tr><td><b>Adopted&nbsp;for: </b> '+ adoptedby +'</td></tr></table>';
      <% end %>
      var iconString = 'https://maps.google.com/mapfiles/ms/icons/red.png';
      <% if star.number == @star.number %>
      var iconString = 'https://maps.google.com/mapfiles/kml/paddle/red-stars_maps.png';
      <% end %>

      <% elsif star.flag == 3 %>
      var contentString = '<table><tr><td><b>Suspected planet-host:</b> <a href="https://nonprofit.adoptastar.org/stars/<%= star.id %>" style="color:blue"><%= star.number %></a></td></tr></table>'+
      <% if star.adopted_by.blank? %>
      '<table><tr><td><form id="ppform" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="cmd" value="_cart"><input type="hidden" name="business" value="pbd@whitedwarf.org"><input type="hidden" name="lc" value="US"><input type="hidden" name="currency_code" value="USD"><input type="hidden" name="no_shipping" value="1"><input type="hidden" name="no_note" value="1"><input type="hidden" name="add" value="1"><input type="hidden" name="return" value="https://adoptastar.org/thanks-25/"><input type="hidden" name="cancel_return" value="https://adoptastar.org"><input type="hidden" name="button_subtype" value="products"><input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_SM.gif:NonHostedGuest"><input type="hidden" name="amount" value="25.00"><input type="hidden" name="item_number" value="<%=h star.id %>"><input id="adopted_name" size="15" type="text" name="item_name" style="color: #0000ff" value="Name for Certificate" onblur=putText(this); onfocus=clrText(this); maxlength="30"></td><td><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" id="ppbtn" name="submit" alt="Add to Cart"><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></form></td></tr></table>';
      <% else %>
      '<table><tr><td><b>Adopted&nbsp;for: </b> '+ adoptedby +'</td></tr></table>';
      <% end %>
      var iconString = 'https://maps.google.com/mapfiles/ms/icons/green.png';
      <% if star.number == @star.number %>
      var iconString = 'https://maps.google.com/mapfiles/kml/paddle/grn-stars_maps.png';
      <% end %>

      <% elsif star.flag == 4 %>
      var contentString = '<table><tr><td><b>Planetary system:</b> <a href="https://nonprofit.adoptastar.org/stars/<%= star.id %>" style="color:blue"><%= star.number %></a></td></tr></table>'+
      <% if star.adopted_by.include?('AVAILABLE') %>
      '<table><tr><td><form id="ppform" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="cmd" value="_cart"><input type="hidden" name="business" value="pbd@whitedwarf.org"><input type="hidden" name="lc" value="US"><input type="hidden" name="currency_code" value="USD"><input type="hidden" name="no_shipping" value="1"><input type="hidden" name="no_note" value="1"><input type="hidden" name="add" value="1"><input type="hidden" name="return" value="https://adoptastar.org/thanks-50/"><input type="hidden" name="cancel_return" value="https://adoptastar.org"><input type="hidden" name="button_subtype" value="products"><input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_SM.gif:NonHostedGuest"><input type="hidden" name="amount" value="50.00"><input type="hidden" name="item_number" value="<%=h star.id %>"><input id="adopted_name" size="15" type="text" name="item_name" style="color: #0000ff" value="Name for Certificate" onblur=putText(this); onfocus=clrText(this); maxlength="30"></td><td><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" id="ppbtn" name="submit" alt="Add to Cart"><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></form></td></tr></table>';
      <% else %>
      '<table><tr><td><b>Adopted&nbsp;for: </b> '+ adoptedby +'</td></tr></table>';
      <% end %>
      var iconString = 'https://maps.google.com/mapfiles/ms/icons/blue.png';
      <% if star.number == @star.number %>
      var iconString = 'https://maps.google.com/mapfiles/kml/paddle/blu-stars_maps.png';
      <% end %>

      <% elsif star.flag == 5 %>
      var contentString = '<table><tr><td><b>Bright star:</b> <a href="https://nonprofit.adoptastar.org/stars/<%= star.id %>" style="color:blue"><%= star.number %></a></td></tr></table>'+
      <% if star.adopted_by.blank? %>
      '<table><tr><td><form id="ppform" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="cmd" value="_cart"><input type="hidden" name="business" value="pbd@whitedwarf.org"><input type="hidden" name="lc" value="US"><input type="hidden" name="currency_code" value="USD"><input type="hidden" name="no_shipping" value="1"><input type="hidden" name="no_note" value="1"><input type="hidden" name="add" value="1"><input type="hidden" name="return" value="https://adoptastar.org/thanks-100/"><input type="hidden" name="cancel_return" value="https://adoptastar.org"><input type="hidden" name="button_subtype" value="products"><input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_SM.gif:NonHostedGuest"><input type="hidden" name="amount" value="100.00"><input type="hidden" name="item_number" value="<%=h star.id %>"><input id="adopted_name" size="15" type="text" name="item_name" style="color: #0000ff" value="Name for Certificate" onblur=putText(this); onfocus=clrText(this); maxlength="30"></td><td><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" id="ppbtn" name="submit" alt="Add to Cart"><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></form></td></tr></table>';
      <% else %>
      '<table><tr><td><b>Adopted&nbsp;for: </b> '+ adoptedby +'</td></tr></table>';
      <% end %>
      var iconString = 'https://maps.google.com/mapfiles/ms/icons/purple.png';
      <% if star.number == @star.number %>
      var iconString = 'https://maps.google.com/mapfiles/kml/paddle/purple-stars_maps.png';
      <% end %>

      <% end %>
      var starLatLng = {lat: <%=h star.latitude %>, lng: <%=h star.longitude %>};
      addMarker(starLatLng, iconString, contentString);
      <% end %>

    }

    function addMarker(location, iconString, contentString) {
      var marker = new google.maps.Marker({
        icon: iconString,
        position: location,
        map: map
      });
      markers.push(marker);

      marker.addListener('click', function() {
        infowindow.close();
        infowindow.setContent(contentString);
        infowindow.open(map, marker);
      });

    }

    google.maps.event.addListener(infowindow, 'domready', function() {
      document.getElementById("ppbtn").addEventListener('click', function() {
          document.getElementById("ppform").submit()
      });
    });

    function setMapOnAll(map) {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
      }
    }

    function showMarkers() {
      setMapOnAll(map);
    }

    function clearMarkers() {
      setMapOnAll(null);
    }

    </script>
<!--
<script src="https://www.google.com/jsapi?key=ABQIAAAAFmrtqw3f0zN8ClTpt2_rOBQuGqApAkpRnRuMFk1K7LjN5xkN5RTTbe_9ftsHz0aM2QJQ1L6zFB9joA"></script>
    <script>
google.load("earth", "1");

var ge = null;
var notloaded = true;

function init() {
  if(google.earth.isInstalled()){
     document.getElementById('map2').style.display = 'none';
     document.getElementById('map3').style.display = 'block';
  }
  if(notloaded) {
     google.earth.createInstance("map3", initCallback, failureCallback);
     notloaded = false;
  }
}

function initCallback(object) {
  ge = object;
  ge.getOptions().setMapType(ge.MAP_TYPE_SKY);
  ge.getWindow().setVisibility(true);
  ge.getOptions().setStatusBarVisibility(true);
  ge.getNavigationControl().setVisibility(ge.VISIBILITY_SHOW);
  var url = 'http://whitedwarf.org/palebluedot/sky.kml';
  google.earth.fetchKml(ge, url, finished);
}

function failureCallback(object) {
}

function finished(object) {
  if (!object) {
    alert('bad or NULL kml');
    return;
  }
  setTimeout(function() {
    ge.getFeatures().appendChild(object);
    var la = ge.createLookAt('');
    var longitude = -1. * <%= @star.longitude %>;
    la.set(<%= @star.latitude %>, longitude,0, ge.ALTITUDE_RELATIVE_TO_GROUND, 0, 0, 10000);
    ge.getView().setAbstractView(la);         
  }, 1000);
}
</script>
-->
<script>
function showdiv(divID){
   for(d = 2; d <= 3; d++){
   var layer = 'map' + d;
      if (d == divID){
         document.getElementById(layer).style.display = 'block';
      }
      else{
         document.getElementById(layer).style.display = 'none';
      }
   }
}
</script>
<script>
function putText(obj) {
   if(!obj.value) {
      obj.value='Name for Certificate';
   }
}

function clrText(obj) {
   if(obj.value=='Name for Certificate') {
      obj.value='';
   }
}
</script>

<div id="content">

<div id="gsky">

  <% if @star.adopted_by.empty? %>
  <% elsif @star.adopted_by.include?('AVAILABLE') %>
  <% else %>
  <table><tr><td><div class="fb-share-button" data-type="button_count"></div></td><td><a href="https://twitter.com/share" class="twitter-share-button" data-via="adopt_a_star">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td></tr></table><p>
  <% end %>
  <table><tr><td>
  <% if @star.flag == 1 %>
  <b>Target star:</b>
  <% elsif @star.flag == 2 %>
  <b>Double star:</b>
  <% elsif @star.flag == 3 %>
  <b>Suspected planet-host:</b>
  <% elsif @star.flag == 4 %>
  <b>Planetary system:</b>
  <% elsif @star.flag == 5 %>
  <b>Bright star:</b>
  <% end %>
  <%=h @star.number %>
  </td></tr></table>
  <% if @star.adopted_by.empty? %>
  <table><tr><td>
    <b>Adopted&nbsp;for: </b></td>
    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_cart">
      <input type="hidden" name="business" value="pbd@whitedwarf.org">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="no_shipping" value="1">
      <input type="hidden" name="no_note" value="1">
      <input type="hidden" name="add" value="1">
      <input type="hidden" name="cancel_return" value="https://adoptastar.org">
      <input type="hidden" name="button_subtype" value="products">
      <input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_SM.gif:NonHostedGuest">
      <% if @star.flag == 1 %>
      <input type="hidden" name="amount" value="10.00">
      <input type="hidden" name="return" value="https://adoptastar.org/thanks-10/">
      <% elsif @star.flag == 2 %>
      <input type="hidden" name="amount" value="15.00">
      <input type="hidden" name="return" value="https://adoptastar.org/thanks-15/">
      <% elsif @star.flag == 3 %>
      <input type="hidden" name="amount" value="25.00">
      <input type="hidden" name="return" value="https://adoptastar.org/thanks-25/">
      <% elsif @star.flag == 5 %>
      <input type="hidden" name="amount" value="100.00">
      <input type="hidden" name="return" value="https://adoptastar.org/thanks-100/">
      <% end %>
      <input type="hidden" name="item_number" value="<%=h @star.id %>">
      <td><input id="adopted_name" size="15" type="text" name="item_name" style="color: #0000ff" value="Name for Certificate" onblur="if(!this.value)this.value='Name for Certificate';" onfocus="if(this.value=='Name for Certificate')this.value='';" maxlength="30"></td>
      <td><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="Add to Cart"><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></td></form>
  </tr></table>
  <% elsif @star.adopted_by.include?('AVAILABLE') %>
  <% if @star.flag == 4 %>
  <table><tr><td>
    <b>Adopted&nbsp;for: </b></td>
    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_cart">
      <input type="hidden" name="business" value="pbd@whitedwarf.org">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="no_shipping" value="1">
      <input type="hidden" name="no_note" value="1">
      <input type="hidden" name="add" value="1">
      <input type="hidden" name="return" value="https://adoptastar.org/thanks-50/">
      <input type="hidden" name="cancel_return" value="https://adoptastar.org">
      <input type="hidden" name="button_subtype" value="products">
      <input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_SM.gif:NonHostedGuest">
      <input type="hidden" name="amount" value="50.00">
      <input type="hidden" name="item_number" value="<%=h @star.id %>">
      <td><input id="adopted_name" size="15" type="text" name="item_name" style="color: #0000ff" value="Name for Certificate" onblur="if(!this.value)this.value='Name for Certificate';" onfocus="if(this.value=='Name for Certificate')this.value='';" maxlength="30"></td>
      <td><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="Add to Cart"><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></td></form>
  </tr></table>
  <% else %>
  <table><tr><td>
    <b>Adopted&nbsp;for: </b>
    <%=h @star.adopted_by %> 
  </td></tr></table>
  <% end %>
  <% else %>
  <table><tr><td>
    <b>Adopted&nbsp;for: </b>
    <%=h @star.adopted_by %> 
  </td></tr></table>
  <% end %>

</p>

<% if @star.adopted_by.empty? %>
<table width="100%"><tr><td><a href="javascript:showdiv(2);initialize()">MAP</a> | <a href="https://www.google.com/sky/#latitude=<%=h @star.latitude %>&longitude=<%=h @star.neglong %>&zoom=12" target="_ext">SKY</a></td><td align="right">icons: <a href="javascript:showMarkers();">show</a> | <a href="javascript:clearMarkers();">hide</a></td></tr></table>
<% elsif @star.adopted_by.include?('AVAILABLE') %>
<table width="100%"><tr><td><a href="javascript:showdiv(2);initialize()">MAP</a> | <a href="https://www.google.com/sky/#latitude=<%=h @star.latitude %>&longitude=<%=h @star.neglong %>&zoom=12" target="_ext">SKY</a></td><td align="right">icons: <a href="javascript:showMarkers();">show</a> | <a href="javascript:clearMarkers();">hide</a></td></tr></table>
<% else %>
<table width="100%"><tr><td width="33%"><a href="javascript:showdiv(2);initialize()">MAP</a> | <a href="https://www.google.com/sky/#latitude=<%=h @star.latitude %>&longitude=<%=h @star.neglong %>&zoom=12" target="_ext">SKY</a></td><td align="center" width="33%"><a href="http://whitedwarf.org/cert/<%=h @star.id %>.pdf" target="_new">download certificate</a></td><td align="right" width="33%">icons: <a href="javascript:showMarkers();">show</a> | <a href="javascript:clearMarkers();">hide</a></td></tr></table>
<% end %>

<div id='map_container' style='border: 1px solid silver; height: 300px; width: 100%;'>
  <div id="map2" style="display: block; height:100%; width:100%; color: #000000"></div>
  <div id="map3" style="display: none; height:100%; width:100%"></div>
</div>

<table width="100%"><tr>
<td><b>Constellation:</b>
<% if @star.const.include?('Aqr') %>
Aquarius
<% elsif @star.const.include?('Ari') %>
Aries
<% elsif @star.const.include?('Aur') %>
Auriga
<% elsif @star.const.include?('Cap') %>
Capricorn
<% elsif @star.const.include?('Cet') %>
Cetus
<% elsif @star.const.include?('Cnc') %>
Cancer
<% elsif @star.const.include?('Cyg') %>
Cygnus
<% elsif @star.const.include?('Dra') %>
Draco
<% elsif @star.const.include?('Gem') %>
Gemini
<% elsif @star.const.include?('Leo') %>
Leo
<% elsif @star.const.include?('Lib') %>
Libra
<% elsif @star.const.include?('Lyr') %>
Lyra
<% elsif @star.const.include?('Oph') %>
Ophiuchus
<% elsif @star.const.include?('Ori') %>
Orion
<% elsif @star.const.include?('Psc') %>
Pisces
<% elsif @star.const.include?('Sco') %>
Scorpius
<% elsif @star.const.include?('Ser') %>
Serpens
<% elsif @star.const.include?('Sex') %>
Sextans
<% elsif @star.const.include?('Sgr') %>
Sagittarius
<% elsif @star.const.include?('Tau') %>
Taurus
<% elsif @star.const.include?('Vir') %>
Virgo
<% end %>
</td><td align="right">
<% if @star.lat_d >= 0 %>
  [<%=h @star.lon_d %>h <%=h @star.lon_m %>m <%=h @star.lon_s %>s,
   <%=h @star.lat_sign %><%=h @star.lat_d %>° <%=h @star.lat_m %>′ <%=h @star.lat_s %>"]
<% elsif @star.lat_d < 0 %>
  [<%=h @star.lon_d %>h <%=h @star.lon_m %>m <%=h @star.lon_s %>s,
   <%=h @star.lat_d %>° <%=h @star.lat_m %>′ <%=h @star.lat_s %>"]
<% end %>
</td></tr></table>

<br>
<table style="border-width: 0px"><tr><td style="border-width: 0px">

<% if @star.adopted_by.empty? %>
<b>Check out here:</b></td><td style="border-width: 0px">
 <form name="_xclick" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
 <input type="hidden" name="cmd" value="_cart">
 <input type="hidden" name="business" value="pbd@whitedwarf.org">
 <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_viewcart_SM.gif" border="0" name="submit" alt="View Cart">
 <input type="hidden" name="display" value="1">
 </form>
<% elsif @star.adopted_by.include?('AVAILABLE') %>
<% if @star.flag == 4 %>
<b>Check out here:</b></td><td style="border-width: 0px">
 <form name="_xclick" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
 <input type="hidden" name="cmd" value="_cart">
 <input type="hidden" name="business" value="pbd@whitedwarf.org">
 <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_viewcart_SM.gif" border="0" name="submit" alt="View Cart">
 <input type="hidden" name="display" value="1">
 </form>
<% else %>
<b><a href="https://adoptastar.org" target="_adopt">Adopt a star</a> and support science!</b>
<% end %>
<% else %>
<b><a href="https://adoptastar.org" target="_adopt">Adopt a star</a> and support science!</b>
<% end %>
</td></tr></table>

</div>

</div>
