<% content_for("header") do %>
<meta property="og:title" content="Pale Blue Dot project - view my adopted star" />
<meta property="og:image" content="http://whitedwarf.org/palebluedot/images/pbdcert.jpg" />
<meta property="og:description" content="Join me in supporting the search for Earth-like planets by adopting a star near mine!" />
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<!--
<script src="http://maps.google.com/maps/api/js?key=<%= AppConfig.google_maps_api_key %>&amp;sensor=false" type="text/javascript"></script>
-->
  <script type="text/javascript"> 
    var mapTypes = {};
    mapTypes['sky'] = {
      getTileUrl: function(coord, zoom) {
        return getHorizontallyRepeatingTileUrl(coord, zoom, function(coord, zoom) {
          return "http://mw1.google.com/mw-planetary/sky/skytiles_v1/" +
                 coord.x + "_" + coord.y + '_' + zoom + '.jpg';
 
        });
      },
      tileSize: new google.maps.Size(256, 256),
      isPng: false,
      maxZoom: 13,
      radius: 57.2957763671875,
      name: 'Sky',
      credit: 'Image Credit: SDSS, DSS Consortium, NASA/ESA/STScI'
    };

    function getHorizontallyRepeatingTileUrl(coord, zoom, urlfunc) {
      var y = coord.y;
      var x = coord.x;
 
      var tileRange = 1 << zoom;
 
      if (y < 0 || y >= tileRange) {
        return null;
      }
 
      if (x < 0 || x >= tileRange) {
        x = (x % tileRange + tileRange) % tileRange;
      }
 
      return urlfunc({x:x,y:y}, zoom)
    }
 
    var map;
    var mapTypeIds = [];
 
    var creditNode = document.createElement('div');
    creditNode.id = 'credit-control';
    creditNode.style.fontSize = '11px';
    creditNode.style.fontFamily = 'Arial, sans-serif';
    creditNode.style.margin = '0 2px 2px 0';
    creditNode.style.whitespace = 'nowrap';
    creditNode.index = 0;
 
    function setCredit(credit) {
      creditNode.innerHTML = credit + ' -';
    }

    function initialize() {
 
      // push all mapType keys in to a mapTypeId array to set in the mapTypeControlOptions
      for (var key in mapTypes) {
        mapTypeIds.push(key);
      }
 
      var mapOptions = {
        zoom: 12,
        center: new google.maps.LatLng(<%= @star.latitude %>, <%= @star.longitude %>),
	disableDefaultUI: true,
        zoomControl: true
      };
      map = new google.maps.Map(document.getElementById("map2"), mapOptions);

      var marker = new google.maps.Marker({
      position: new google.maps.LatLng(<%= @star.latitude %>, <%= @star.longitude %>),
      map: map,
      });

      map.controls[google.maps.ControlPosition.BOTTOM_RIGHT].push(creditNode);
      for (key in mapTypes) {
        map.mapTypes.set(key, new google.maps.ImageMapType(mapTypes[key]));
      }
      google.maps.event.addListener(map, 'maptypeid_changed', function() {
        setCredit(mapTypes[map.getMapTypeId()].credit);
      });
 
      // start with the sky map type
      map.setMapTypeId('sky');

    }

    </script>

<script src="http://www.google.com/jsapi?key=ABQIAAAAFmrtqw3f0zN8ClTpt2_rOBQuGqApAkpRnRuMFk1K7LjN5xkN5RTTbe_9ftsHz0aM2QJQ1L6zFB9joA"></script>
    <script>
google.load("earth", "1");

var ge = null;
var notloaded = true;

function init() {
  if(google.earth.isInstalled()){
     document.getElementById('map2').style.display = 'none';
     document.getElementById('map3').style.display = 'block';
  }
  if(notloaded) {
     google.earth.createInstance("map3", initCallback, failureCallback);
     notloaded = false;
  }
}

function initCallback(object) {
  ge = object;
  ge.getOptions().setMapType(ge.MAP_TYPE_SKY);
  ge.getWindow().setVisibility(true);
  ge.getOptions().setStatusBarVisibility(true);
  ge.getNavigationControl().setVisibility(ge.VISIBILITY_SHOW);
  var url = 'http://whitedwarf.org/palebluedot/sky.kml';
  google.earth.fetchKml(ge, url, finished);
}

function failureCallback(object) {
}

function finished(object) {
  if (!object) {
    alert('bad or NULL kml');
    return;
  }
  setTimeout(function() {
    ge.getFeatures().appendChild(object);
    var la = ge.createLookAt('');
    var longitude = -1. * <%= @star.longitude %>;
    la.set(<%= @star.latitude %>, longitude,0, ge.ALTITUDE_RELATIVE_TO_GROUND, 0, 0, 10000);
    ge.getView().setAbstractView(la);         
  }, 1000);
}
</script>
<script>
function showdiv(divID){
   for(d = 2; d <= 3; d++){
   var layer = 'map' + d;
      if (d == divID){
         document.getElementById(layer).style.display = 'block';
      }
      else{
         document.getElementById(layer).style.display = 'none';
      }
   }
}
</script>

  <table><tr><td><div class="fb-share-button" data-type="button_count"></div></td><td><a href="https://twitter.com/share" class="twitter-share-button" data-via="adopt_a_star">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td></tr></table>
<p>
  <table><tr><td> 
  <% if @star.flag == 1 %>
  <b>Target star</b>
  <% elsif @star.flag == 2 %>
  <b>Double star</b>
  <% elsif @star.flag == 3 %>
  <b>Candidate planet-host</b>
  <% elsif @star.flag == 4 %>
  <b>Planetary system</b>
  <% end %>
  </td></tr></table>
  <table><tr><td>
  <b>Number:</b>
  <%=h @star.number %>
  </td></tr></table>
  <% if @star.adopted_by.empty? %>
  <table><tr><td>
    <b>Adopted for:</b></td>
    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_cart">
      <input type="hidden" name="business" value="pbd@whitedwarf.org">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="no_shipping" value="1">
      <input type="hidden" name="no_note" value="1">
      <input type="hidden" name="add" value="1">
      <input type="hidden" name="return" value="http://adoptastar.whitedwarf.org/thanks/">
      <input type="hidden" name="cancel_return" value="http://adoptastar.whitedwarf.org">
      <input type="hidden" name="button_subtype" value="products">
      <input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_SM.gif:NonHostedGuest">
      <% if @star.flag == 1 %>
      <input type="hidden" name="amount" value="10.00">
      <% elsif @star.flag == 2 %>
      <input type="hidden" name="amount" value="15.00">
      <% elsif @star.flag == 3 %>
      <input type="hidden" name="amount" value="25.00">
      <% end %>
      <input type="hidden" name="item_number" value="<%=h @star.id %>">
      <td><input type="text" name="item_name" style="color: #0000ff" value="Name for Certificate" onblur="if(!this.value)this.value='Name for Certificate';" onfocus="if(this.value=='Name for Certificate')this.value='';" maxlength="30"></td>
      <td><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="Add to Cart"><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></td></form>
  </tr></table>
  <% elsif @star.adopted_by.include?('AVAILABLE') %>
  <% if @star.flag == 4 %>
  <table><tr><td>
    <b>Adopted for:</b></td>
    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_cart">
      <input type="hidden" name="business" value="pbd@whitedwarf.org">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="no_shipping" value="1">
      <input type="hidden" name="no_note" value="1">
      <input type="hidden" name="add" value="1">
      <input type="hidden" name="return" value="http://adoptastar.whitedwarf.org/thanks/">
      <input type="hidden" name="cancel_return" value="http://adoptastar.whitedwarf.org">
      <input type="hidden" name="button_subtype" value="products">
      <input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_SM.gif:NonHostedGuest">
      <input type="hidden" name="amount" value="50.00">
      <input type="hidden" name="item_number" value="<%=h @star.id %>">
      <td><input type="text" name="item_name" style="color: #0000ff" value="Name for Certificate" onblur="if(!this.value)this.value='Name for Certificate';" onfocus="if(this.value=='Name for Certificate')this.value='';" maxlength="30"></td>
      <td><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="Add to Cart"><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></td></form>
  </tr></table>
  <% else %>
  <table><tr><td>
    <b>Adopted for:</b>
    <%=h @star.adopted_by %> <br>
    <a href="http://whitedwarf.org/palebluedot/cert/<%=h @star.id %>.pdf" target="_new">Download certificate</a>
  </td></tr></table>
  <% end %>
  <% else %>
  <table><tr><td>
    <b>Adopted for:</b>
    <%=h @star.adopted_by %> <br>
    <a href="http://whitedwarf.org/palebluedot/cert/<%=h @star.id %>.pdf" target="_new">Download certificate</a>
  </td></tr></table>
  <% end %>

</p>

<table width="500px"><tr><td><a href="javascript:showdiv(2);initialize()">MAP</a> | <a href="javascript:showdiv(3);init()">SKY</a> | <a href="http://palebluedot.whitedwarf.org/stars/nearest/<%=h @star.id %>" target="_new">LIST</a></td></tr></table>

<div id='map_container' style='border: 1px solid silver; height: 300px; width: 500px;'>
  <div id="map2" style="display: block; height:100%; width:100%"></div>
  <div id="map3" style="display: none; height:100%; width:100%"></div>
</div>

<table width="500px"><tr>
<td>
  <b>Mag.:</b>
  <%=h @star.mag %>
</td>

<td>
  <b>Teff:</b>
  <%=h @star.teff %>
</td>

<td>
  <b>log g:</b>
  <%=h @star.logg %>
</td>

<td>
  <b>[M/H]:</b>
  <%=h @star.mh %>
</td>

</tr></table>

<p>
<table width="500px"><tr><td>
  <b>Coordinates:</b> <br />
  <i>R.A. = </i> <%=h @star.lon_d %>h <%=h @star.lon_m %>m  <%=h @star.lon_s %>s <i>(sky coordinate for longitude)</i><br />
  <i>Dec. = </i> <%=h @star.lat_d %>° <%=h @star.lat_m %>′  <%=h @star.lat_s %>" <i>(sky coordinate for latitude)</i><br />
</td></tr></table>
<br>
<table style="border-width: 0px"><tr><td style="border-width: 0px">

<% if @star.adopted_by.empty? %>
<b>Check out through PayPal:</b></td><td style="border-width: 0px">
 <form name="_xclick" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
 <input type="hidden" name="cmd" value="_cart">
 <input type="hidden" name="business" value="pbd@whitedwarf.org">
 <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_viewcart_SM.gif" border="0" name="submit" alt="View Cart">
 <input type="hidden" name="display" value="1">
 </form>
<% elsif @star.adopted_by.include?('AVAILABLE') %>
<% if @star.flag == 4 %>
<b>Check out through PayPal:</b></td><td style="border-width: 0px">
 <form name="_xclick" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
 <input type="hidden" name="cmd" value="_cart">
 <input type="hidden" name="business" value="pbd@whitedwarf.org">
 <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_viewcart_SM.gif" border="0" name="submit" alt="View Cart">
 <input type="hidden" name="display" value="1">
 </form>
<% else %>
<b><a href="http://adoptastar.whitedwarf.org" target="_adopt">Adopt a star</a> from a non-profit and support science!</b>
<% end %>
<% else %>
<b><a href="http://adoptastar.whitedwarf.org" target="_adopt">Adopt a star</a> from a non-profit and support science!</b>
<% end %>
</td></tr></table>
</p>

